.order-container {
    padding: 24px 16px;
    display: flex;
    flex-direction: column;
    gap: 2rem;
    max-width: 770px; 
    margin-left: 70px;
}

.order-header {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
}

.order-title {
    font-size: 1.25rem;
    font-weight: 600;
}

.order-heading {
    margin-bottom: 32px;
    font-size: 1.25rem;
    font-weight: 600;
}

.order-status-tags {
    display: flex;
    gap: 0.5rem;
}

.priority-tag {
    background-color: #ef4444; 
    color: #fef2f2;             
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 9999px;
    letter-spacing: 0.05em;
}

.status-tag {
    background-color: #22c55e; 
    color: #f0fdf4;             
    padding: 0.25rem 0.75rem;
    font-size: 0.875rem;
    font-weight: 600;
    text-transform: uppercase;
    border-radius: 9999px;
    letter-spacing: 0.05em;
}

.order-delivery-box {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 0.5rem;
    background-color: #e7e5e4; 
    padding: 1.25rem 1.5rem;
}

.delivery-time {
    font-weight: 500;
}

.delivery-estimate {
    font-size: 0.75rem;
    color: #78716c; 
}

.order-items-list {
    border-top: 1px solid #e7e5e4;
    border-bottom: 1px solid #e7e5e4;
}

.order-summary {
    background-color: #e7e5e4;
    padding: 1.25rem 1.5rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.summary-item {
    font-size: 0.875rem;
    font-weight: 500;
    color: #57534e; 
}

.summary-total {
    font-weight: 700;
}

.order-item {
    padding: 12px 0;
}

.item-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 1rem;
    font-size: 0.875rem; 
}

.item-quantity {
    font-weight: bold;
}

.item-price {
    font-weight: bold;
}

.item-ingredients {
    font-size: 0.875rem; 
    font-style: italic;
    text-transform: capitalize;
    color: #78716c; 
}

.search-input {
    width: 7rem; 
    border-radius: 9999px; 
    background-color: #fef3c7; 
    padding: 0.5rem 1rem;
    font-size: 0.875rem; 
    transition: all 0.3s ease; 
    color: inherit;
    border: none;
    outline: none;
}

.search-input::placeholder {
    color: #a8a29e; 
}

.search-input:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(202, 138, 4, 0.5); 
    width: 18rem; 
}

@media (min-width: 640px) {
    .search-input {
        width: 16rem; 
    }
}

.update-order-form {
    text-align: right;
}

.form-group {
    margin-bottom: 20px;
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.form-group.sm-row {
    flex-direction: row;
    align-items: center;
}

.form-label {
    flex-basis: 40%;
}

.form-input {
    padding: 8px;
    border-radius: 50px;
    width: 100%;
    color: #4a3729;
    border: 1px solid #ccc;
    height: 27px; 
}

.form-input:focus {
    outline: none;
    border: 3px solid rgb(255, 207, 32);
}


.form-input.error {
    background-color: #fee2e2;
    color: #b91c1c;
}

.error-message {
    margin-top: 8px;
    background-color: #fee2e2;
    padding: 8px;
    font-size: 0.75rem;
    color: #b91c1c;
    border-radius: 4px;
}

.checkbox-container {
    margin-bottom: 48px;
    display: flex;
    align-items: center;
    gap: 20px;
}

.checkbox {
    height: 24px;
    width: 24px;
    accent-color: #ffc720;
}

.checkbox:focus {
    outline: none;
    box-shadow: 0 0 0 3px rgba(202, 138, 4, 0.5);
}

.checkbox-label {
    font-weight: 500;
}

.get-position-button {
    position: absolute;
    right: 5px;
    top: 5px;
    z-index: 50;
}
